<!-- This is base template to create all our to do list  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="box" id = "heading">
        <h1><%=kindofDay %> </h1>
    </div>
    
     <div class="box">
            <%for(var i=0;i<newListItems.length;i++){   %>                                        <!--new list item added to do list --></newListItems.length>
                <div class = "item">
                    <input type="checkbox">
                    <p><%=newListItems[i]%></p>
                </div>
                
            <%} %>       
           
            <form class = "item" action="/" method = "POST">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">              <!--autocomplete off to stop autocomplete feature and also stop getting suggestions basis of previous items-->
                <button type="submit" name ="button">+</button>
            
            </form>
        
            
                                      
     </div>

   
    
    


</body>
</html>